In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import time

## Carregando e limpando os dados

In [2]:
df = pd.read_csv('scrobbles.csv')

In [3]:
df.head()

,uts,utc_time,artist,artist_mbid,album,album_mbid,track,track_mbid
0,1625949762,"10 Jul 2021, 20:42",Pabllo Vittar,NaN,Batidão Tropical,NaN,Bang Bang,NaN
1,1625949595,"10 Jul 2021, 20:39",Pabllo Vittar,NaN,Batidão Tropical,NaN,Não é Papel de Homem,NaN
2,1625949428,"10 Jul 2021, 20:37",Pabllo Vittar,NaN,Batidão Tropical,NaN,Zap Zum,NaN
3,1625949313,"10 Jul 2021, 20:35",Pabllo Vittar,NaN,Batidão Tropical,NaN,Ultra Som,NaN
4,1625949165,"10 Jul 2021, 20:32",Pabllo Vittar,NaN,Batidão Tropical,NaN,Apaixonada,NaN

In [4]:
df.columns

Index(['uts', 'utc_time', 'artist', 'artist_mbid', 'album', 'album_mbid',
       'track', 'track_mbid'],
      dtype='object')

In [5]:
columns = ['uts','artist_mbid', 'album_mbid', 'track_mbid']

## Retirando algumas colunas

In [7]:
df.drop(columns=columns, inplace=True)

In [8]:
df.head()

             utc_time         artist             album                 track
0  10 Jul 2021, 20:42  Pabllo Vittar  Batidão Tropical             Bang Bang
1  10 Jul 2021, 20:39  Pabllo Vittar  Batidão Tropical  Não é Papel de Homem
2  10 Jul 2021, 20:37  Pabllo Vittar  Batidão Tropical               Zap Zum
3  10 Jul 2021, 20:35  Pabllo Vittar  Batidão Tropical             Ultra Som
4  10 Jul 2021, 20:32  Pabllo Vittar  Batidão Tropical            Apaixonada

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67805 entries, 0 to 67804
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   utc_time  67805 non-null  object
 1   artist    67805 non-null  object
 2   album     67642 non-null  object
 3   track     67805 non-null  object
dtypes: object(4)
memory usage: 2.1+ MB

### Procurando nulos...

In [10]:
df.loc[df.album.isnull()]

,utc_time,artist,album,track
24084,"22 Dec 2016, 04:38",WellSchreinerMusic,NaN,Get Over Ü
24521,"09 Dec 2016, 04:21",WellSchreinerMusic,NaN,Get Over Ü (Pornografairy Remix)
24522,"09 Dec 2016, 04:17",WellSchreinerMusic,NaN,Get Over Ü
45775,"09 Aug 2015, 05:40",The Weeknd,NaN,"Earned It (Fifty Shades Of Grey) - From The ""F..."
45776,"09 Aug 2015, 05:35",The Weeknd,NaN,"Earned It (Fifty Shades Of Grey) - From The ""F..."
...,...,...,...,...
67335,"01 Jan 1970, 00:07",Eminem,NaN,I Love The Way You Lie
67336,"01 Jan 1970, 00:07",Eminem,NaN,I Love The Way You Lie
67337,"01 Jan 1970, 00:07",Eminem,NaN,I Love The Way You Lie
67338,"01 Jan 1970, 00:07",Eminem,NaN,I Love The Way You Lie
67339,"01 Jan 1970, 00:07",Eminem,NaN,I Love The Way You Lie

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67805 entries, 0 to 67804
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   utc_time  67805 non-null  object
 1   artist    67805 non-null  object
 2   album     67642 non-null  object
 3   track     67805 non-null  object
dtypes: object(4)
memory usage: 2.1+ MB

In [12]:
df.utc_time = pd.to_datetime(df['utc_time'])

In [13]:
df.utc_time = pd.to_datetime(df['utc_time'].dt.strftime('%d-%m-%Y'))

In [14]:
df.head()

    utc_time         artist             album                 track
0 2021-10-07  Pabllo Vittar  Batidão Tropical             Bang Bang
1 2021-10-07  Pabllo Vittar  Batidão Tropical  Não é Papel de Homem
2 2021-10-07  Pabllo Vittar  Batidão Tropical               Zap Zum
3 2021-10-07  Pabllo Vittar  Batidão Tropical             Ultra Som
4 2021-10-07  Pabllo Vittar  Batidão Tropical            Apaixonada

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67805 entries, 0 to 67804
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   utc_time  67805 non-null  datetime64[ns]
 1   artist    67805 non-null  object
 2   album     67642 non-null  object
 3   track     67805 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 2.1+ MB

In [16]:
df.head()

    utc_time         artist             album                 track
0 2021-10-07  Pabllo Vittar  Batidão Tropical             Bang Bang
1 2021-10-07  Pabllo Vittar  Batidão Tropical  Não é Papel de Homem
2 2021-10-07  Pabllo Vittar  Batidão Tropical               Zap Zum
3 2021-10-07  Pabllo Vittar  Batidão Tropical             Ultra Som
4 2021-10-07  Pabllo Vittar  Batidão Tropical            Apaixonada

In [17]:
df = df.loc[df.utc_time > '1970-01-01 00:00:00']

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65621 entries, 0 to 65620
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   utc_time  65621 non-null  datetime64[ns]
 1   artist    65621 non-null  object
 2   album     65467 non-null  object
 3   track     65621 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 2.5+ MB

In [20]:
df.album = df.album.replace(np.nan, 'Sem álbum')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65621 entries, 0 to 65620
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   utc_time  65621 non-null  datetime64[ns]
 1   artist    65621 non-null  object
 2   album     65621 non-null  object
 3   track     65621 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 2.5+ MB

In [22]:
df[df['album'] == 'Sem álbum']

,utc_time,artist,album,track
24084,2016-12-22,WellSchreinerMusic,Sem álbum,Get Over Ü
24521,2016-09-12,WellSchreinerMusic,Sem álbum,Get Over Ü (Pornografairy Remix)
24522,2016-09-12,WellSchreinerMusic,Sem álbum,Get Over Ü
45775,2015-09-08,The Weeknd,Sem álbum,"Earned It (Fifty Shades Of Grey) - From The ""F..."
45776,2015-09-08,The Weeknd,Sem álbum,"Earned It (Fifty Shades Of Grey) - From The ""F..."
...,...,...,...,...
65602,2014-07-10,Nicki Minaj,Sem álbum,Pills n Potions
65603,2014-07-10,Nicki Minaj,Sem álbum,Pills n Potions
65604,2014-07-10,Nicki Minaj,Sem álbum,Pills n Potions
65605,2014-07-10,Nicki Minaj,Sem álbum,Pills n Potions
65607,2014-06-10,Azealia Banks,Sem álbum,Chasing Time

In [23]:
df.reset_index(inplace=True)

In [25]:
df.drop(columns='index', inplace=True)

KeyError: "['index'] not found in axis"

In [26]:
df.head()

    utc_time         artist             album                 track
0 2021-10-07  Pabllo Vittar  Batidão Tropical             Bang Bang
1 2021-10-07  Pabllo Vittar  Batidão Tropical  Não é Papel de Homem
2 2021-10-07  Pabllo Vittar  Batidão Tropical               Zap Zum
3 2021-10-07  Pabllo Vittar  Batidão Tropical             Ultra Som
4 2021-10-07  Pabllo Vittar  Batidão Tropical            Apaixonada

In [27]:
df.rename(columns={'utc_time': 'data_reprodução', 'artist' : 'artista',
                  'track': 'faixa'}, inplace=True)

In [28]:
df.head()

  data_reprodução        artista             album                 faixa
0      2021-10-07  Pabllo Vittar  Batidão Tropical             Bang Bang
1      2021-10-07  Pabllo Vittar  Batidão Tropical  Não é Papel de Homem
2      2021-10-07  Pabllo Vittar  Batidão Tropical               Zap Zum
3      2021-10-07  Pabllo Vittar  Batidão Tropical             Ultra Som
4      2021-10-07  Pabllo Vittar  Batidão Tropical            Apaixonada

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65621 entries, 0 to 65620
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_reprodução  65621 non-null  datetime64[ns]
 1   artista          65621 non-null  object
 2   album            65621 non-null  object
 3   faixa            65621 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 2.0+ MB

## Explorando um pouco

### Top 10 Artistas mais escutados

In [30]:
df.artista.value_counts().head(10)

Lana Del Rey              9327
Birdy                     4101
Kerli                     3363
Lorde                     2506
Florence + the Machine    2365
Nicki Minaj               1759
FKA twigs                 1706
Camila Cabello            1380
Björk                     1370
Ke$ha                     1218
Name: artista, dtype: int64

### Top 10 Albuns mais escutados

In [31]:
df.album.value_counts().head(10)

Beautiful Lies (Deluxe)                      3578
Ultraviolence                                3026
Melodrama                                    1687
How Big, How Blue, How Beautiful (Deluxe)    1334
Utopia                                       1048
Ctrl                                         1041
Big Eyes                                     1038
Born to Die                                   998
LP1                                           960
Broke with Expensive Taste                    924
Name: album, dtype: int64

### Top 10 Faixas mais escutadas

In [32]:
df.faixa.value_counts().head(10)

Big Eyes         834
Green Light      542
Blossom          427
Diamond Hard     347
Liability        346
Words            314
On My Mind       313
Feral Hearts     303
Ride             301
Growing Pains    292
Name: faixa, dtype: int64

### Top 10 Dias que eu mais escutei música

In [33]:
df.data_reprodução.value_counts().sort_values(ascending=False).head(10)

2014-02-12    470
2014-10-17    387
2014-10-30    291
2014-11-25    246
2015-06-05    234
2014-01-12    209
2014-10-20    206
2015-01-27    204
2014-10-16    197
2015-01-29    194
Name: data_reprodução, dtype: int64

In [34]:
df.shape

(65621, 4)

In [35]:
df_data = df.data_reprodução.value_counts().sort_values(ascending=False).head(10)

In [36]:
ranking_data = pd.DataFrame({'data_reprodução':df_data.index, 'valores':df_data.values})

In [37]:
ranking_data.head()

  data_reprodução  valores
0      2014-02-12      470
1      2014-10-17      387
2      2014-10-30      291
3      2014-11-25      246
4      2015-06-05      234

### Decidimos utilizar uma média de 3 minutos de duração para todas as músicas

In [38]:
ranking_data['minutos'] = ranking_data['valores'] * 3

In [39]:
ranking_data['horas'] = ranking_data['minutos'] / 60

In [40]:
ranking_data.rename(columns={'valores': 'reproduções'}, inplace=True)

In [41]:
ranking_data.head()

  data_reprodução  reproduções  minutos  horas
0      2014-02-12          470     1410  23.50
1      2014-10-17          387     1161  19.35
2      2014-10-30          291      873  14.55
3      2014-11-25          246      738  12.30
4      2015-06-05          234      702  11.70

In [42]:
df.head()

  data_reprodução        artista             album                 faixa
0      2021-10-07  Pabllo Vittar  Batidão Tropical             Bang Bang
1      2021-10-07  Pabllo Vittar  Batidão Tropical  Não é Papel de Homem
2      2021-10-07  Pabllo Vittar  Batidão Tropical               Zap Zum
3      2021-10-07  Pabllo Vittar  Batidão Tropical             Ultra Som
4      2021-10-07  Pabllo Vittar  Batidão Tropical            Apaixonada

In [43]:
df_teste = df.copy(deep=True)

In [44]:
df_teste.head()

  data_reprodução        artista             album                 faixa
0      2021-10-07  Pabllo Vittar  Batidão Tropical             Bang Bang
1      2021-10-07  Pabllo Vittar  Batidão Tropical  Não é Papel de Homem
2      2021-10-07  Pabllo Vittar  Batidão Tropical               Zap Zum
3      2021-10-07  Pabllo Vittar  Batidão Tropical             Ultra Som
4      2021-10-07  Pabllo Vittar  Batidão Tropical            Apaixonada

In [45]:
df_teste['tempo_medio_duração'] = 3

In [46]:
df_teste.head()

,data_reprodução,artista,album,faixa,tempo_medio_duração
0,2021-10-07,Pabllo Vittar,Batidão Tropical,Bang Bang,3
1,2021-10-07,Pabllo Vittar,Batidão Tropical,Não é Papel de Homem,3
2,2021-10-07,Pabllo Vittar,Batidão Tropical,Zap Zum,3
3,2021-10-07,Pabllo Vittar,Batidão Tropical,Ultra Som,3
4,2021-10-07,Pabllo Vittar,Batidão Tropical,Apaixonada,3

In [47]:
df.artista.value_counts().head(10)

Lana Del Rey              9327
Birdy                     4101
Kerli                     3363
Lorde                     2506
Florence + the Machine    2365
Nicki Minaj               1759
FKA twigs                 1706
Camila Cabello            1380
Björk                     1370
Ke$ha                     1218
Name: artista, dtype: int64

### Ready to Go!

In [46]:
df.to_csv('projeto05-lastfm.csv', index=False)