In [1]:
import pandas as pd

## Carregando e limpando os dados

In [3]:
df = pd.read_csv('Certifications.csv', encoding="utf-8")

In [4]:
df.head()

,Name,Url,Authority,Started On,Finished On,License Number
0,General Course on Intellectual Property,NaN,World Intellectual Property Organization – WIPO,Jul 2019,NaN,NaN
1,Curso Geral de Propriedade Intelectual,NaN,World Intellectual Property Organization – WIPO,Oct 2019,NaN,NaN
2,Introdução ao Tratado de Cooperação em Matéria...,NaN,World Intellectual Property Organization – WIPO,Apr 2020,NaN,NaN
3,IP Panorama - Advanced International Certifica...,NaN,World Intellectual Property Organization – WIPO,Jun 2020,NaN,NaN
4,Promoção do Acesso às Tecnologias Médicas e à ...,NaN,World Intellectual Property Organization – WIPO,May 2020,NaN,NaN

In [5]:
df.drop(columns=['Url', 'Finished On', 'License Number'], inplace=True)

In [6]:
df.head()

,Name,Authority,Started On
0,General Course on Intellectual Property,World Intellectual Property Organization – WIPO,Jul 2019
1,Curso Geral de Propriedade Intelectual,World Intellectual Property Organization – WIPO,Oct 2019
2,Introdução ao Tratado de Cooperação em Matéria...,World Intellectual Property Organization – WIPO,Apr 2020
3,IP Panorama - Advanced International Certifica...,World Intellectual Property Organization – WIPO,Jun 2020
4,Promoção do Acesso às Tecnologias Médicas e à ...,World Intellectual Property Organization – WIPO,May 2020

In [7]:
df.rename(columns={'Name': 'nome_curso', 'Authority': 'instituição', 'Started On': 'finalizado_em'}, inplace=True)

In [8]:
df.loc[11] = ['Introdução ao R Commander: Uma Abordagem Computacional Voltada ao Ensino da Estatística', 
              'Universidade Federal de Juiz de Fora', 'Dez 2020']

In [9]:
df.reset_index(inplace=True)

In [10]:
df.drop(columns='index', inplace=True)

In [11]:
df.head(11)

,nome_curso,instituição,finalizado_em
0,General Course on Intellectual Property,World Intellectual Property Organization – WIPO,Jul 2019
1,Curso Geral de Propriedade Intelectual,World Intellectual Property Organization – WIPO,Oct 2019
2,Introdução ao Tratado de Cooperação em Matéria...,World Intellectual Property Organization – WIPO,Apr 2020
3,IP Panorama - Advanced International Certifica...,World Intellectual Property Organization – WIPO,Jun 2020
4,Promoção do Acesso às Tecnologias Médicas e à ...,World Intellectual Property Organization – WIPO,May 2020
5,Curso de Propriedade Intelectual,SENAI - Serviço Nacional de Aprendizagem Indus...,Apr 2020
6,Informática - Ambiente Windows I,FAETEC,Oct 2018
7,Excel Avançado,FAETEC,Dec 2018
8,Inglês Básico,Pronatec,Sep 2018
9,Promoção a Integração ao Mundo do Trabalho - PIMT,CAMP Mangueira,Feb 2019
10,Introdução ao R Commander: Uma Abordagem Compu...,Universidade Federal de Juiz de Fora,Dez 2020

In [12]:
df.to_csv('projeto-modulo05-linkedin_certificados.csv', index=False)

In [13]:
df2 = pd.read_csv('Positions.csv')

In [14]:
df2

,Company Name,Title,Description,Location,Started On,Finished On
0,Daniel Law,Jovem Aprendiz,"Jovem Aprendiz na área de Operações de Marcas,...",NaN,Mar 2019,Jun 2020

In [15]:
df2.drop(columns=['Description', 'Location'], inplace=True)

In [16]:
df2.head()

  Company Name           Title Started On Finished On
0   Daniel Law  Jovem Aprendiz   Mar 2019    Jun 2020

In [17]:
df2.rename(columns={'Company Name': 'empresa', 'Title': 'cargo', 'Started On': 'data_inicio', 'Finished On': 'data_fim'}, inplace=True)

In [18]:
df2.head()

      empresa           cargo data_inicio  data_fim
0  Daniel Law  Jovem Aprendiz    Mar 2019  Jun 2020

In [19]:
df2.to_csv('projeto-modulo05-linkedin-emprego.csv', index=False)