In [2]:
import pandas as pd
import numpy as np

## Carregando e limpando os dados

In [3]:
pd.set_option('display.max_columns', 30)
pd.set_option("max_colwidth", 100)

In [4]:
df = pd.read_csv('MySteamLibraryData.csv')

In [5]:
df.head()

,Type,App Id,Title,App Website,Time Played (minutes),Time To Beat 100% (minutes),Time To Beat Main Game (minutes),Regular Price (USD),Metascore,Metascore Link,Release Date,Developers,Publishers,Windows,Mac,Linux,Install Size (MB),Controller Support,Has Multiplayer,Genres,Has Steam Cloud,Has Achievements,Has Trading Cards,Has Steam Workshop,Has Stats,Has HDR
0,game,550.0,Left 4 Dead 2,http://www.l4d.com,192,2040.0,540.0,19.99,89.0,http://www.metacritic.com/game/pc/left-4-dead-2?ftag=MCD-06-10aaa1f,"Nov 17, 2009",Valve,Valve,True,True,True,13000.0,full,True,Action,True,True,True,True,True,True
1,game,113200.0,The Binding of Isaac,NaN,21,8040.0,630.0,4.99,84.0,http://www.metacritic.com/game/pc/the-binding-of-isaac?ftag=MCD-06-10aaa1f,"Sep 28, 2011",Edmund McMillen and Florian Himsl,Edmund McMillen,True,True,NaN,50.0,none,NaN,"Action,Adventure,RPG,Indie",NaN,True,True,NaN,NaN,NaN
2,game,230410.0,Warframe,http://www.warframe.com,0,NaN,NaN,0.00,71.0,http://www.metacritic.com/game/pc/warframe?ftag=MCD-06-10aaa1f,"Mar 25, 2013",Digital Extremes,Digital Extremes,True,NaN,NaN,2000.0,none,True,"Action,Free to Play,Violent",NaN,NaN,True,NaN,NaN,NaN
3,game,236390.0,War Thunder,http://warthunder.com/,0,NaN,NaN,0.00,81.0,http://www.metacritic.com/game/pc/war-thunder?ftag=MCD-06-10aaa1f,"Aug 15, 2013",Gaijin Entertainment,Gaijin Entertainment,True,True,True,8000.0,partial,True,"Free to Play,Massively Multiplayer,Simulation,Action",NaN,NaN,NaN,NaN,NaN,True
4,game,238960.0,Path of Exile,http://www.pathofexile.com,1516,NaN,NaN,0.00,86.0,http://www.metacritic.com/game/pc/path-of-exile?ftag=MCD-06-10aaa1f,"Oct 23, 2013",Grinding Gear Games,Grinding Gear Games,True,NaN,NaN,5000.0,NaN,True,"Action,Adventure,Free to Play,Indie,Massively Multiplayer,RPG,Nudity,Violent,Gore",NaN,True,True,NaN,NaN,NaN

In [6]:
df.Type.unique()

array(['game', 'Game', nan], dtype=object)

In [7]:
df.Type.value_counts()

game    64
Game     1
Name: Type, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Type                              65 non-null     object
 1   App Id                            65 non-null     float64
 2   Title                             70 non-null     object
 3   App Website                       60 non-null     object
 4   Time Played (minutes)             70 non-null     int64
 5   Time To Beat 100% (minutes)       25 non-null     float64
 6   Time To Beat Main Game (minutes)  25 non-null     float64
 7   Regular Price (USD)               64 non-null     float64
 8   Metascore                         29 non-null     float64
 9   Metascore Link                    29 non-null     object
 10  Release Date                      65 non-null     object
 11  Developers                        64 non-null     object
 12  Publishers                        65 non-null     object
 13  Windows                           65 non-null     object
 14  Mac                               26 non-null     object
 15  Linux                             15 non-null     object
 16  Install Size (MB)                 52 non-null     float64
 17  Controller Support                13 non-null     object
 18  Has Multiplayer                   12 non-null     object
 19  Genres                            65 non-null     object
 20  Has Steam Cloud                   4 non-null      object
 21  Has Achievements                  8 non-null      object
 22  Has Trading Cards                 9 non-null      object
 23  Has Steam Workshop                2 non-null      object
 24  Has Stats                         3 non-null      object
 25  Has HDR                           2 non-null      object
dtypes: float64(6), int64(1), object(19)
memory usage: 14.3+ KB

In [9]:
df.columns

Index(['Type', 'App Id', 'Title', 'App Website', 'Time Played (minutes)',
       'Time To Beat 100% (minutes)', 'Time To Beat Main Game (minutes)',
       'Regular Price (USD)', 'Metascore', 'Metascore Link', 'Release Date',
       'Developers', 'Publishers', 'Windows', 'Mac', 'Linux',
       'Install Size (MB)', 'Controller Support', 'Has Multiplayer', 'Genres',
       'Has Steam Cloud', 'Has Achievements', 'Has Trading Cards',
       'Has Steam Workshop', 'Has Stats', 'Has HDR'],
      dtype='object')

In [10]:
columns = ['Type', 'App Id', 'App Website',
       'Metascore', 'Metascore Link', 'Release Date',
       'Developers', 'Publishers', 'Windows', 'Mac', 'Linux',
       'Install Size (MB)', 'Controller Support', 
       'Has Steam Cloud', 'Has Achievements', 'Has Trading Cards',
       'Has Steam Workshop', 'Has Stats', 'Has HDR']

### Vamos tirar algumas colunas.

In [11]:
df.drop(columns=columns, inplace=True)

In [12]:
df.head()

,Title,Time Played (minutes),Time To Beat 100% (minutes),Time To Beat Main Game (minutes),Regular Price (USD),Has Multiplayer,Genres
0,Left 4 Dead 2,192,2040.0,540.0,19.99,True,Action
1,The Binding of Isaac,21,8040.0,630.0,4.99,NaN,"Action,Adventure,RPG,Indie"
2,Warframe,0,NaN,NaN,0.00,True,"Action,Free to Play,Violent"
3,War Thunder,0,NaN,NaN,0.00,True,"Free to Play,Massively Multiplayer,Simulation,Action"
4,Path of Exile,1516,NaN,NaN,0.00,True,"Action,Adventure,Free to Play,Indie,Massively Multiplayer,RPG,Nudity,Violent,Gore"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Title                             70 non-null     object
 1   Time Played (minutes)             70 non-null     int64
 2   Time To Beat 100% (minutes)       25 non-null     float64
 3   Time To Beat Main Game (minutes)  25 non-null     float64
 4   Regular Price (USD)               64 non-null     float64
 5   Has Multiplayer                   12 non-null     object
 6   Genres                            65 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 4.0+ KB

In [14]:
df['Has Multiplayer'].unique()

array([True, nan], dtype=object)

In [15]:
df['Has Multiplayer'] = df['Has Multiplayer'].replace(np.nan, 'False')

In [16]:
df.head()

,Title,Time Played (minutes),Time To Beat 100% (minutes),Time To Beat Main Game (minutes),Regular Price (USD),Has Multiplayer,Genres
0,Left 4 Dead 2,192,2040.0,540.0,19.99,True,Action
1,The Binding of Isaac,21,8040.0,630.0,4.99,False,"Action,Adventure,RPG,Indie"
2,Warframe,0,NaN,NaN,0.00,True,"Action,Free to Play,Violent"
3,War Thunder,0,NaN,NaN,0.00,True,"Free to Play,Massively Multiplayer,Simulation,Action"
4,Path of Exile,1516,NaN,NaN,0.00,True,"Action,Adventure,Free to Play,Indie,Massively Multiplayer,RPG,Nudity,Violent,Gore"

### Alguns jogos na biblioteca que nunca joguei

In [17]:
df['Time Played (minutes)'].value_counts()

0        19
6         2
2         2
192       1
181       1
14        1
122       1
108       1
364       1
22        1
5669      1
1727      1
580       1
54        1
4578      1
28        1
682       1
545       1
667       1
4195      1
1266      1
199       1
15        1
195       1
208       1
385       1
7         1
690       1
19        1
1516      1
96        1
188       1
4         1
1228      1
11        1
88        1
52        1
145       1
24        1
21        1
13764     1
102       1
2433      1
33124     1
686       1
11790     1
3649      1
5         1
85        1
1287      1
Name: Time Played (minutes), dtype: int64

In [18]:
df = df[df['Time Played (minutes)'] > 1]

In [19]:
df.sample(5)

,Title,Time Played (minutes),Time To Beat 100% (minutes),Time To Beat Main Game (minutes),Regular Price (USD),Has Multiplayer,Genres
15,Transformice,19,NaN,NaN,0.00,False,"Free to Play,Indie,Massively Multiplayer"
35,Auralux: Constellations,385,619.0,277.0,9.99,False,"Casual,Indie,Strategy"
8,Sparkle 2 Evo,4,210.0,120.0,4.99,False,"Action,Indie,Simulation,Casual"
45,Deceit,5669,NaN,NaN,0.00,False,"Action,Early Access,Free to Play,Indie"
40,The Witcher 3: Wild Hunt,364,10080.0,2940.0,39.99,False,"RPG,Nudity"

In [20]:
df.rename(columns={'Title': 'nome', 'Time Played (minutes)': 'tempo_jogado_min', 
                   'Time To Beat 100% (minutes)': 'tempo_para_finalizar_min', 
                  'Time To Beat Main Game (minutes)': 'tempo_para_finalizar_jogo_principal_min', 
                 'Regular Price (USD)': 'preço_em_real', 'Has Multiplayer': 'eh_multiplayer',
                  'Genres': 'generos'}, inplace=True)

In [21]:
df.head()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos
0,Left 4 Dead 2,192,2040.0,540.0,19.99,True,Action
1,The Binding of Isaac,21,8040.0,630.0,4.99,False,"Action,Adventure,RPG,Indie"
4,Path of Exile,1516,NaN,NaN,0.00,True,"Action,Adventure,Free to Play,Indie,Massively Multiplayer,RPG,Nudity,Violent,Gore"
5,Elsword,96,NaN,NaN,0.00,True,"Action,Adventure,Casual,Free to Play,Platformer,RPG,Massively Multiplayer"
7,PAYDAY 2,188,NaN,NaN,9.99,True,"Action,RPG"

In [22]:
df.reset_index(inplace=True)

In [23]:
df.drop(columns='index', inplace=True)

In [24]:
df.head()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos
0,Left 4 Dead 2,192,2040.0,540.0,19.99,True,Action
1,The Binding of Isaac,21,8040.0,630.0,4.99,False,"Action,Adventure,RPG,Indie"
2,Path of Exile,1516,NaN,NaN,0.00,True,"Action,Adventure,Free to Play,Indie,Massively Multiplayer,RPG,Nudity,Violent,Gore"
3,Elsword,96,NaN,NaN,0.00,True,"Action,Adventure,Casual,Free to Play,Platformer,RPG,Massively Multiplayer"
4,PAYDAY 2,188,NaN,NaN,9.99,True,"Action,RPG"

In [25]:
df.tempo_jogado_min.sort_values(ascending=False).head(10)

17    33124
13    13764
19    11790
34     5669
26     4578
43     4195
20     3649
16     2433
35     1727
2      1516
Name: tempo_jogado_min, dtype: int64

In [26]:
df.sort_values(by='tempo_jogado_min', ascending=False).head()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos
17,Dead by Daylight,33124,NaN,NaN,19.99,False,"Action,Violent,Gore"
13,ARK: Survival Evolved,13764,NaN,NaN,59.99,False,"Action,Adventure,Indie,RPG,Early Access,Massively Multiplayer"
19,SMITE,11790,NaN,NaN,0.00,False,"Action,Free to Play"
34,Deceit,5669,NaN,NaN,0.00,False,"Action,Early Access,Free to Play,Indie"
26,Paladins,4578,NaN,NaN,0.00,False,"Action,Free to Play,Early Access"

In [27]:
df['tempo_jogado_hora'] = df['tempo_jogado_min'] / 60

In [28]:
df.sort_values(by='tempo_jogado_hora', ascending=False).head()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos,tempo_jogado_hora
17,Dead by Daylight,33124,NaN,NaN,19.99,False,"Action,Violent,Gore",552.066667
13,ARK: Survival Evolved,13764,NaN,NaN,59.99,False,"Action,Adventure,Indie,RPG,Early Access,Massively Multiplayer",229.400000
19,SMITE,11790,NaN,NaN,0.00,False,"Action,Free to Play",196.500000
34,Deceit,5669,NaN,NaN,0.00,False,"Action,Early Access,Free to Play,Indie",94.483333
26,Paladins,4578,NaN,NaN,0.00,False,"Action,Free to Play,Early Access",76.300000

In [29]:
df.head()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos,tempo_jogado_hora
0,Left 4 Dead 2,192,2040.0,540.0,19.99,True,Action,3.200000
1,The Binding of Isaac,21,8040.0,630.0,4.99,False,"Action,Adventure,RPG,Indie",0.350000
2,Path of Exile,1516,NaN,NaN,0.00,True,"Action,Adventure,Free to Play,Indie,Massively Multiplayer,RPG,Nudity,Violent,Gore",25.266667
3,Elsword,96,NaN,NaN,0.00,True,"Action,Adventure,Casual,Free to Play,Platformer,RPG,Massively Multiplayer",1.600000
4,PAYDAY 2,188,NaN,NaN,9.99,True,"Action,RPG",3.133333

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   nome                                     51 non-null     object
 1   tempo_jogado_min                         51 non-null     int64
 2   tempo_para_finalizar_min                 20 non-null     float64
 3   tempo_para_finalizar_jogo_principal_min  20 non-null     float64
 4   preço_em_real                            51 non-null     float64
 5   eh_multiplayer                           51 non-null     object
 6   generos                                  51 non-null     object
 7   tempo_jogado_hora                        51 non-null     float64
dtypes: float64(4), int64(1), object(3)
memory usage: 3.3+ KB

In [31]:
df.shape

(51, 8)

### Adicionando o jogo mais importante

In [32]:
df.loc[52] = ['League of Legends', 149179, np.NaN,np.NaN, 0.00, True, 'Moba', 2486.00]

In [33]:
df.tail()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos,tempo_jogado_hora
47,Cyber Hunter,195,NaN,NaN,0.00,False,"Action,Free to Play,Massively Multiplayer",3.250000
48,DEVOUR,208,NaN,NaN,0.00,False,"Action,Indie",3.466667
49,Quiplash,2,NaN,NaN,9.99,False,"Casual,Indie,Strategy",0.033333
50,Dota 2,1287,NaN,NaN,0.00,True,"Action,Free to Play,Strategy",21.450000
52,League of Legends,149179,NaN,NaN,0.00,True,Moba,2486.000000

In [34]:
df.reset_index(inplace=True)

In [35]:
df.drop(columns='index', inplace=True)

In [36]:
df.tail()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos,tempo_jogado_hora
47,Cyber Hunter,195,NaN,NaN,0.00,False,"Action,Free to Play,Massively Multiplayer",3.250000
48,DEVOUR,208,NaN,NaN,0.00,False,"Action,Indie",3.466667
49,Quiplash,2,NaN,NaN,9.99,False,"Casual,Indie,Strategy",0.033333
50,Dota 2,1287,NaN,NaN,0.00,True,"Action,Free to Play,Strategy",21.450000
51,League of Legends,149179,NaN,NaN,0.00,True,Moba,2486.000000

In [37]:
df.loc[52] = ['League of Legends', 149179, np.NaN,np.NaN, 0.00, True, 'Moba', 2486.00]

In [38]:
df.tail()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,generos,tempo_jogado_hora
48,DEVOUR,208,NaN,NaN,0.00,False,"Action,Indie",3.466667
49,Quiplash,2,NaN,NaN,9.99,False,"Casual,Indie,Strategy",0.033333
50,Dota 2,1287,NaN,NaN,0.00,True,"Action,Free to Play,Strategy",21.450000
51,League of Legends,149179,NaN,NaN,0.00,True,Moba,2486.000000
52,League of Legends,149179,NaN,NaN,0.00,True,Moba,2486.000000

In [39]:
df.drop(columns='generos', inplace=True)

In [40]:
df.head()

,nome,tempo_jogado_min,tempo_para_finalizar_min,tempo_para_finalizar_jogo_principal_min,preço_em_real,eh_multiplayer,tempo_jogado_hora
0,Left 4 Dead 2,192,2040.0,540.0,19.99,True,3.200000
1,The Binding of Isaac,21,8040.0,630.0,4.99,False,0.350000
2,Path of Exile,1516,NaN,NaN,0.00,True,25.266667
3,Elsword,96,NaN,NaN,0.00,True,1.600000
4,PAYDAY 2,188,NaN,NaN,9.99,True,3.133333

In [44]:
df.tempo_jogado_min.min()

2

In [41]:
df.to_csv('projeto05-jogos.csv', index=False)